<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
    <title>See you soon!</title>
</head>
<body>
    <h1>Thanks for using the app, hope to see you soon!</h1>
    <h2>Just in case you want to <a href="/">login again ;)</a></h2>
</body>
</html>