<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
</head>
<body>
    <header class="header">
        <nav>
          <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/views">Monthly Views</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </nav>
    </header>
    <h1>Settings</h1>
    <h3>Your categories</h3>
    <p>Use this list to delete any category from your account</p>
    <form action="/settings" method="post">
      <select name="category">
        <% options.forEach((option) => { %>
          <option value="<%= option %>"><%= option %></option>
        <% });%> 
      </select>
      <input type="submit" value="Borrar!">
    </form>

    <h3>Here you can add new categories :)</h3>
    <p>Type here any new category that you want to add to your account 😃</p>
    <form action="/settings" method="post">
      <input name="category" placeholder="New category" type="text">
      <input type="submit" value="Guardar!">
    </form>

</body>
</html>