body{
    background-color: #015249;
}

h1{
    color:#A5A5AF;
    font-family: Arial, Helvetica, sans-serif;
}

h1, form{
    margin: 0 auto;
}

input, select{
    padding: 4px;
}

button{
    color: white;
    font-weight: bold;
    /* background-color: rgb(79, 75, 204); */
    border-radius: 6px;
    padding: 4px;
}