body{
    background-color: #49274A;
    text-align: center;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, form{
    margin: 0 auto;
}

input, select{
    border-radius: 8px;
    padding: 4px;
}

.expensesForm {
    padding-top: 30px;
}

/* #49274A   #94618E*/