body{
    background-color: #49274A;
    text-align: center;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, form{
    margin: 0 auto;
}

input, select{
    border-radius: 8px;
    padding: 4px;
}

.expensesForm {
    padding-top: 30px;
}

/* #49274A   #94618E*/

.header {
    background-color: #321b33;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 35px;
    padding: 5px 10%;
    border-radius: 8px;
}

.header nav{
    order: 1;
}
.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}

.header .nav-links li:nth-child(1){
    padding: 0 20px 0 0;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}
.header .nav-links a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;    
}

.header .nav-links li a:hover{
    color: #ffbc0e;
}

canvas{
    height: 650px !important;
    width: 650px !important;
}
